.home-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 760px;
  }
  
  .home-title {
    font-size: 2.5rem;
    margin-bottom: 24px;
    color: #111827;
  }
  